.navbar {
  background-color: #272626;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
body {
  font-family: Arial, sans-serif;
  background-color: #433F3F;
  margin: 0;
  padding: 20px;
}

.left-button {
  margin-right: auto;
}

.right-buttons {
  display: flex;
  gap: 10px;
}

.rounded-button {
  border: none;
  border-radius: 7px;
  padding: 8px 16px;
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.post {
  padding-top: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto; /* Ajout de cette ligne pour centrer le post */
  text-align: center;
}

.caption {
  margin-bottom: 10px;
  color: #333;
}

.caption a {
  color: #333;
  text-decoration: none;
}

.caption a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.btc-address {
  color: #333;
  margin: 5px 0;
}