body {
    font-family: Arial, sans-serif;
    background-color: #433F3F;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 35px;
}
h2 {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #272626;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

recadrer {
    padding: 10px 20px;
    background-color: #666262;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

label {
display: block;
font-weight: bold;
margin-bottom: 5px;
color: #666262; 
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #272626;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="file"] {
margin-bottom: 10px;
color: #666262; 
}

input[type="file"]::file-selector-button {
padding: 10px 20px;
background-color: #666262;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

input[type="file"]::file-selector-button:hover {
background-color: #666262;
}

input[type="file"]::file-selected-button {
padding: 10px 20px;
background-color: #666262;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

input[type="file"]::file-selected-button:hover {
background-color: #666262;
}

input[type="submit"] {
    background-color: #666262;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #666262;
}

.navbar {
    background-color: #272626;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
body {
    font-family: Arial, sans-serif;
    background-color: #433F3F;
    margin: 0;
    padding: 20px;
}

.left-button {
    margin-right: auto;
}

.right-buttons {
    display: flex;
    gap: 10px;
}

.rounded-button {
    border: none;
    border-radius: 7px;
    padding: 8px 16px;
    background-color: #FFF;
    color: #433F3F;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.post-image {
    width: 100%;
    height: auto;
    max-width: 1600px;
    max-height: 900px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    min-width: 1600px;
    min-height: 900px;
}
.nav-title {
    color: #433F3F;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.nav-title:hover {
    text-decoration: none;
}
